.tag-chip {
	background: #ececec;
	padding: 3px 10px;
	border-radius: 15px;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	margin-right: 3px;
	cursor: default;
	user-select: none;
}
.white-display-box {
	background: #fff;
	width: 95%;
	padding: 1% 0;
	text-align: center;
	display: none;
}
.chip-form-middle, .chip-form-bottom {
	display: none;
}
.chip-form {
	border: solid 2px #ddd;
}
.chip-form-top {
	border-width: 2px 2px 0 2px;
}
.chip-form-middle {
	border-width: 0 2px 0 2px;
}
.chip-form-bottom {
	border-width: 0 2px 2px 2px;
}
